[submodule "lib/libsquish"]
	path = lib/libsquish
	url = https://github.com/tito/libsquish.git
[submodule "lib/double-conversion"]
	path = lib/double-conversion
	url = https://github.com/google/double-conversion.git
[submodule "lib/physfs"]
	path = lib/physfs
	url = https://github.com/REGoth-project/physfs
